.Rproj.user
.Rhistory
.RData
.RDataTmp
.RDataTmp1
.Ruserdata
data/*.RDS
data/download
antigo
dados
dados_nuvem
results
results_nuvem
www/download

# Local operational inputs and all disposable campaigns/experiments.
/data/
/temp/
/run_logs/
